.companyUploadHeader {
    height     : 44px;
    line-height: 44px;
    font-size  : 22px;
}

.lspan {
    display    : block;
    height     : 40px;
    line-height: 40px;
    cursor     : pointer;

    >i {
        font-style: normal;
        font-size : 22px;
        min-width : 100px;
        text-align: left;
        color     : black;
    }

    >* {
        display       : inline-block;
        vertical-align: middle;
        cursor        : pointer;

    }
}

.charCheck {
    height     : 60px;
    line-height: 80px;

    >span {
        cursor: pointer;
    }

}